/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
  font weights
*/
h1, h2, h3, h4, h5 {
  font-weight: 500; }

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig"; }

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
.menu {
  /* end .menu ul */ }
  .menu ul {
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */ }
    .menu ul li {
      /*
      plan your menus and drop-downs wisely.
      */ }
      .menu ul li a {
        /*
        you can use hover styles here even though this size
        has the possibility of being a mobile device.
        */ }

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */ }
  .entry-content .alignleft, .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left; }
  .entry-content .alignright, .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right; }
  .entry-content .aligncenter, .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both; }

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name: Herts Heritage
Author: Kam Banwait / Scripted Pixels ltd
Stylesheet: Base Mobile Stylesheet
******************************************************************/
/*********************
GENERAL STYLES
*********************/
p {
  font-size: 1.1aem; }

/*********************
LAYOUT & GRID STYLES
*********************/
/*********************
HEADER STYLES
*********************/
.header #top-header #logo {
  width: 200px; }
.header #top-header #chimney {
  max-width: 133px;
  height: auto;
  width: 100%; }

/*********************
NAVIGATION STYLES
*********************/
#menuContainer {
  overflow: visible;
  max-height: 60px;
  z-index: 10; }
  #menuContainer:hover {
    background-color: rgba(0, 0, 0, 0.9); }
  #menuContainer:after {
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-top: 40px solid rgba(0, 0, 0, 0.75);
    position: absolute;
    content: ' ';
    z-index: -1;
    left: 1.4em;
    height: 0;
    top: 100%;
    width: 0; }
  #menuContainer #menuToggle {
    display: none; }
  #menuContainer #menuBarLogo {
    margin: 10px 10px 10px 45px;
    position: relative;
    height: 60px;
    width: 55px; }
  #menuContainer nav {
    float: right; }
  #menuContainer ul {
    padding-right: 1.75em;
    border: none; }
    #menuContainer ul li {
      display: inline-block;
      border: none; }
      #menuContainer ul li:hover a {
        text-decoration: underline; }
      #menuContainer ul li.current_page_item:before {
        display: none; }
      #menuContainer ul li.current_page_item a {
        text-decoration: underline; }
      #menuContainer ul li a {
        line-height: 4.4;
        font-size: 14px;
        padding: 0 1em;
        height: 60px; }

/*********************
PAGE STYLES
*********************/
.entry-content .text::before, .entry-content .text::after {
  height: 50px;
  width: 50px; }
.entry-content.fixedImage .h1 {
  min-width: 600px;
  display: block; }
.entry-content.fixedImage #downArrow {
  display: block; }
.entry-content h1 {
  display: none; }
.entry-content .feature img {
  max-width: 100%; }
.entry-content.blockTwo .section-wrapper, .entry-content.blockThree .section-wrapper, .entry-content.blockFour .section-wrapper, .entry-content.blockFive .section-wrapper {
  flex-direction: row;
  flex-wrap: no-wrap;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex; }
.entry-content.blockTwo .text, .entry-content.blockTwo img, .entry-content.blockThree .text, .entry-content.blockThree img, .entry-content.blockFour .text, .entry-content.blockFour img, .entry-content.blockFive .text, .entry-content.blockFive img {
  position: relative;
  align-self: center;
  display: block;
  display: initial;
  margin: 0 auto;
  width: 50%; }
.entry-content #pageCaptionAndImage img {
  width: 100%; }
.page-template-page-home .entry-content.feature .section-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: block; }
.page-template-page-home .entry-content.feature .text {
  background: url("../images/green-house-cnr.png") no-repeat;
  background-position: bottom left;
  background-size: auto 150px;
  text-align: right; }
.page-template-page-home .entry-content.feature #pageCaptionAndImage {
  background-color: #182834; }
  .page-template-page-home .entry-content.feature #pageCaptionAndImage img {
    margin: 0 auto; }
  .page-template-page-home .entry-content.feature #pageCaptionAndImage p {
    max-width: 75%; }
.page-template-page-home .entry-content.feature h4, .page-template-page-home .entry-content.feature p {
  display: inline-block;
  max-width: 65%; }
.page-template-page-home .entry-content.feature h4 {
  width: 100%; }
.page-template-page-home .entry-content #pageCaptionAndImage p {
  display: block; }
  .page-template-page-home .entry-content #pageCaptionAndImage p span {
    color: #8ABD21; }
.page-template-page-home .entry-content #pageCaptionAndImage.animateIn p {
  -webkit-animation: fadein 1.5s forwards;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s forwards;
  /* Firefox < 16 */
  -ms-animation: fadein 1.5s forwards;
  /* Internet Explorer */
  -o-animation: fadein 1.5s forwards;
  /* Opera < 12.1 */
  animation: fadein 1.5s forwards;
  -webkit-animation-delay: 0s;
  /* Chrome, Safari, Opera */
  animation-delay: 0s; }
.page-template-page-home .entry-content.blockTwo .text {
  align-self: stretch;
  padding-top: 30px; }
.page-template-page-home .entry-content.blockTwo .text h4 {
  margin-left: 0.25em; }
.page-template-page-home .entry-content.blockTwo .text h5 {
  margin-left: 0.4em; }
.page-template-page-home .entry-content.blockTwo .text p {
  margin-left: 0.5em; }
.page-template-page-home .entry-content.blockThree img {
  order: 0; }
.page-template-page-home .entry-content.blockThree .text {
  order: 1; }
.page-template-page-home .entry-content.blockFour .text {
  display: initial;
  padding-right: 1em;
  padding-left: 1em;
  margin: 1em auto; }
.page-template-page-home .entry-content.blockFour .text, .page-template-page-home .entry-content.blockFour .text::before, .page-template-page-home .entry-content.blockFour .text::after {
  border: none; }
.page-template-page-who-we-are .entry-content.blockOne #pageCaptionAndImage {
  background-color: #182834; }
  .page-template-page-who-we-are .entry-content.blockOne #pageCaptionAndImage img {
    margin: 0 auto; }
.page-template-page-who-we-are .entry-content.blockOne .section-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: block; }
.page-template-page-who-we-are .entry-content.blockOne .text {
  background: url("../images/white-house-cnr.png") no-repeat;
  background-position: bottom right;
  background-size: auto 150px;
  margin: 1em;
  padding: 0; }
  .page-template-page-who-we-are .entry-content.blockOne .text p, .page-template-page-who-we-are .entry-content.blockOne .text h1, .page-template-page-who-we-are .entry-content.blockOne .text h6 {
    max-width: 60%; }
.page-template-page-who-we-are .entry-content.blockTwo .text, .page-template-page-who-we-are .entry-content.blockTwo .text::before, .page-template-page-who-we-are .entry-content.blockTwo .text::after {
  border: none; }
.page-template-page-who-we-are .entry-content.blockTwo .text h5, .page-template-page-who-we-are .entry-content.blockTwo .text h4, .page-template-page-who-we-are .entry-content.blockTwo .text p {
  padding-left: 1em; }
.page-template-page-who-we-are .entry-content.blockTwo .text h4 {
  padding-left: 0.7em; }
.page-template-page-our-services .entry-content.feature {
  min-height: 100px; }
  .page-template-page-our-services .entry-content.feature #pageCaptionAndImage {
    background-color: #182834; }
    .page-template-page-our-services .entry-content.feature #pageCaptionAndImage img {
      margin: 0 auto; }
  .page-template-page-our-services .entry-content.feature .section-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: block; }
  .page-template-page-our-services .entry-content.feature .text {
    background: url("../images/green-house-cnr.png") no-repeat;
    background-position: bottom left;
    background-size: auto 150px;
    text-align: right;
    min-height: 225px; }
  .page-template-page-our-services .entry-content.feature h1, .page-template-page-our-services .entry-content.feature h6 {
    display: inline-block;
    max-width: 65%; }
  .page-template-page-our-services .entry-content.feature h1 {
    width: 100%; }
  .page-template-page-our-services .entry-content.feature h6 {
    max-width: 70%; }
.page-template-page-our-services .entry-content.blockTwo .text {
  padding: 1em;
  margin: 0; }
.page-template-page-our-services .entry-content.blockTwo .text, .page-template-page-our-services .entry-content.blockTwo .text::before, .page-template-page-our-services .entry-content.blockTwo .text::after {
  border: none; }
.page-template-page-our-services .entry-content.blockThree .text {
  min-height: 100%;
  padding: 0;
  width: 50%; }
.page-template-page-our-services .entry-content.blockThree .text, .page-template-page-our-services .entry-content.blockThree .text::before, .page-template-page-our-services .entry-content.blockThree .text::after {
  border: none; }
.page-template-page-our-services .entry-content.blockThree img {
  order: 0; }
.page-template-page-our-services .entry-content.blockThree .text {
  order: 1; }
.page-template-page-our-services .entry-content.blockFour .text {
  padding: 1em;
  margin: 0; }
.page-template-page-our-services .entry-content.blockFour .text, .page-template-page-our-services .entry-content.blockFour .text::before, .page-template-page-our-services .entry-content.blockFour .text::after {
  border: none; }
.page-template-page-our-services .entry-content.blockFive img {
  display: inherit; }
.page-template-page-our-services .entry-content.blockFive .text {
  padding: 1em;
  margin: 0; }
.page-template-page-our-services .entry-content.blockFive .text, .page-template-page-our-services .entry-content.blockFive .text::before, .page-template-page-our-services .entry-content.blockFive .text::after {
  border: none; }
.page-template-page-contact-us .entry-content.backgroundColor {
  background-color: #8ABD21; }
  .page-template-page-contact-us .entry-content.backgroundColor.green {
    background-color: #8ABD21; }
  .page-template-page-contact-us .entry-content.backgroundColor.grey {
    background-color: #878786; }
.page-template-page-contact-us .entry-content #pageCaptionAndImage {
  background-color: #182834; }
  .page-template-page-contact-us .entry-content #pageCaptionAndImage img {
    margin: 0 auto; }
.page-template-page-contact-us .entry-content .section-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: block; }
.page-template-page-contact-us .entry-content .text {
  background: url("../images/green-house-cnr-right.png") no-repeat;
  background-position: bottom right;
  background-size: auto 150px;
  margin: 1em;
  padding: 0; }
  .page-template-page-contact-us .entry-content .text p, .page-template-page-contact-us .entry-content .text h1 {
    max-width: 50%; }
  .page-template-page-contact-us .entry-content .text p {
    font-size: 1.3em; }
.page-template-page-contact-us .entry-content .customersForm form .left,
.page-template-page-contact-us .entry-content .customersForm form .right,
.page-template-page-contact-us .entry-content .contractorsForm form .left,
.page-template-page-contact-us .entry-content .contractorsForm form .right {
  display: inline-block;
  vertical-align: top;
  width: 49%; }
.page-template-page-contact-us .entry-content .customersForm form .right,
.page-template-page-contact-us .entry-content .contractorsForm form .right {
  margin-left: 1%; }

/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
#menuContainer:after {
  left: 2.7em; }
#menuContainer #menuBarLogo {
  margin: 10px 10px 10px 4em; }

/* PAGES */
/* entry content */
.entry-content.fixedImage .h1 {
  min-width: 700px;
  display: block; }
.entry-content.fixedImage #downArrow {
  bottom: 2%; }
.page-template-page-home .entry-content #pageCaptionAndImage p {
  margin: -80px auto 0 -263px; }
.page-template-page-home .entry-content.blockTwo .text {
  padding-top: 70px; }

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
